{
  "extends": "eslint:recommended",
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  },
  "plugins": ["node"],
  "rules": {
    "node/no-unsupported-features": ["error", {"version": 4}],
    "node/no-missing-require": ["error"]
  }
}
